<div class="form"></div>

<%= form_for(@intertitle) do |f| %>
  <% if @intertitle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intertitle.errors.count, "error") %> prohibited this intertitle from being saved:</h2>

      <ul>
      <% @intertitle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, id: 'main_text_area', style: "height: 100px;" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>

<script>
  window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  const recognition = new SpeechRecognition();
  recognition.interimResults = true;
  recognition.lang = 'en-US';
  const text_area = document.getElementById("main_text_area");

  recognition.addEventListener('result', e => {
    const transcript = Array.from(e.results)
      .map(result => result[0])
      .map(result => result.transcript)
      .join('');
      if (e.results[0].isFinal) {
        text_area.value = text_area.value + transcript + "\n";
        // expand_box_if_needed();
        outer_scroll();
      }
  });
  recognition.addEventListener('end', recognition.start);
  recognition.start();
  
  // function expand_box_if_needed(){
    
  //   if (text_area.scrollHeight > text_area.clientHeight){
  //     console.log("hi expand");
  //     text_area.style.height = text_area.scrollHeight + 'px';
  //   }
    
  // }
  
  function outer_scroll(){
    text_area.scrollTop = text_area.scrollHeight;
    
  }

 
</script>
