
<p id="notice"><%= notice %></p>
<div class="form"></div> 
  <h1>Listing Intertitles</h1>
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @intertitles.each do |intertitle| %>
        <tr>
          <td><%= intertitle.title %></td>
          <td><%= intertitle.content %></td>
          <td><%= link_to 'Show', intertitle %></td>
          <td><%= link_to 'Edit', edit_intertitle_path(intertitle) %></td>
          <td><%= link_to 'Destroy', intertitle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Intertitle', new_intertitle_path %>
  <%= link_to 'Sequence', intertitles_show_all_path %>
</div>
