<% if signed_in? %>
    <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <%= button_to 'Create New intertitle', new_intertitle_path, method: :get %>
 
<% end %>
<div class="wrapper">
    <main class="main">
        <div class="gallery">
            <% @intertitles.each do |intertitle| %>
                <div class="gallery-item">
                    <h2><%= intertitle.title %></h2>
                       <div class="gallery-curtain"><%= link_to 'View', intertitle, :class => "button index_button"%></div>
                </div>
                 <!--<button class="index_button"><%= link_to 'View', intertitle %></button>-->
            <% end %>
        </div>
    </main>
</div>

