
<div class="wrapper">
    <!--wrapper-->
    <header class="sticky">
        <nav class="">
        <div id="nav-title">
            <!--header-->
            <h1 id="text">Intertitles</h1>
            <a href="#footer"><h2 id="question">?</h2></a>
            <!--<button onclick="bottomFunction()" id="question" title="Go to top">?</button>-->
        </div>

        </nav>
            <ul id="btn-wrapper">
                <% if signed_in? %>
                   <li class="signout">
                      <%= button_to 'Sign out', sign_out_path, method: :delete %> 
                   </li>
                    <li class="newintertitle">
                        <%= button_to 'Create New intertitle', new_intertitle_path, method: :get %>
                    </li>
                <% end %>
             </ul>
    </header>
    
            
    <section class="main-content">
        <div class="gallery">
            <% @intertitles.each_with_index do |intertitle, index| %>
                <div class="gallery-item">
                    <h2 class="title"><%= intertitle.title %></h2>
                    <img class="image-tag" src="images">
                    
                    <div class="gallery-curtain">
                        
                        <canvas id="canvas-<%= index %>"></canvas>
                        
                        <%= link_to 'View', intertitle, :class => "button index_button"%>
                        
                    </div>
                </div>
            <% end %>
        </div>
        
    </section>
    <a name="footer"></a>
    <footer id="footer" >
        <h1>Explanation of what Intertitles is and the CRUD interface behind the scene comes here</h1>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </footer>
</div>
 <script>
generateCanvas();
function generateCanvas(){

    // var canvasLength = document.getElementsByTagName('canvas').length;
    // for (var i = 0; i < canvasLength ; i++) {
    //     var canvas = document.getElementById('canvas-' + i);
    //     var ctx = canvas.getContext('2d');
    //     loop(ctx, true);
    // }
    
    document.querySelectorAll('canvas').forEach(function(canvas) {
        var ctx = canvas.getContext('2d');
        loop(ctx, true);
    });
};


function noise(ctx) {
    
    var w = ctx.canvas.width,
        h = ctx.canvas.height,
        idata = ctx.createImageData(w, h),
        buffer32 = new Uint32Array(idata.data.buffer),
        len = buffer32.length,
        i = 0;

    for(; i < len;)
        buffer32[i++] = ((80 * Math.random())|0) << 24;
    
    ctx.putImageData(idata, 0, 0);
}

function loop(ctx, toggle) {
    toggle = !toggle;
    if (toggle) {
        requestAnimationFrame(function() {
            loop(ctx, !toggle);
        });
        return;
    }
    noise(ctx);
    requestAnimationFrame(function() {
        loop(ctx, !toggle);
    });
};

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 2000 || document.documentElement.scrollTop > 2000) {
    // document.getElementById("myBtn").classList.remove('top');
    document.getElementById("myBtn").style.display="block";
  } else {
    // document.getElementById("myBtn").classList.add('top');
    
    document.getElementById("myBtn").style.display="";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
//   document.body.scrollTop = 0;
//   document.documentElement.scrollTop = 0;
    window.scroll({
       top:0,
       behavior: 'smooth',
    });
    
}

 </script>
