<p id="notice"><%= notice %></p>

<!--<p>-->
<!--  <strong>Title:</strong>-->
<!--  <%= @intertitle.title %>-->
<!--</p>-->

<section class="intertitle">
  <div class="container"
    <span class="row"><%= @intertitle.content %></span>
  </div>
</section>

<%= link_to 'Edit', edit_intertitle_path(@intertitle) %> |
<%= link_to 'Back', intertitles_path %>

